{{> header}}
<main>
  <h1>This is the home page!</h1>
<form action="/recipes" method="post">
    <input type="text" name="searchTerm" placeholder="Search for a recipe...">
    <button type="submit">Search</button>
</form>
</main>
